// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;
$color-secondary-dark: #080f16;
$color-secondary-light: #14283f;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-display: "Montserrat", sans-serif;
$font-primary: "Open Sans", sans-serif;

//SHADOW
$box-shadow: 0 4px 10px
  rgba(
    $color: #000000,
    $alpha: 0.25,
  );

//Responsive Breakpoints
$bp-big-desktop: 87.5em; //1400
$bp-largest: 75em; // 1200px / 16 = 75em
$bp-large: 62.5em; // 1000px / 16 = 62.5em
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5%  ---- 1rem = 10px

  @media only screen and (min-width: $bp-big-desktop) {
    font-size: 75%;
  }

  @media only screen and (max-width: $bp-largest) {
    font-size: 56.25%; //9px  ---> 1rem
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 50%; //8px  ---> 1rem
  }
}

body {
  font-family: $font-primary;
  font-size: 1.6rem;
  background-color: #fff;
  color: $color-primary;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

input {
  outline: none;
  border: none;
  font: inherit;
}
