.mb-lg {
  margin-bottom: 4.5rem;
}

.mb-md {
  margin-bottom: 3.5rem;
}

.mb-sm {
  margin-bottom: 1.5rem;
}

.heading--sub {
  width: 50%;
  text-align: center;

  @media only screen and (max-width: $bp-small) {
    width: 100%;
  }
}

div.hidden {
  display: none;
}
